.sectionUsersHeader {
  font-weight: 700;
  color: #7c828d;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 50px 0 15px;
  text-align: center;
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.sectionUsersJoin {
  max-width: 750px;
  padding: 20px 0 0;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  font-size: large;
  font-weight: 800;
}

.sectionUsersLink {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionUsersLink:hover {
  color: #000;
}