/* This is pretty awesome */
.functionsTabsNavMobile {
  max-width: 100%;
  margin: 0 auto 30px;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.tabPanelDescription {
  max-width: 410px;
  min-width: 410px;
  color: rgb(0 0 0);
}

.sectionUsersJoin { max-width: 750px; padding: 20px 0 0; margin: 0 auto; flex-wrap: wrap;
  font-size: large;
  gap: 49px;
  font-weight: 800;
}